@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.container-services {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 10rem;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include lg {
      flex-direction: column;
      gap: 1rem;
    }
  }
  .__a {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 5rem;
    @include lg {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }
    .__b {
      display: flex;
      align-items: center;
      gap: 1rem;
      background: white;
      border-radius: 10px;
      padding: 1.5rem;
      height: 240px;
      box-shadow: 0px 0px 32px -7px rgba(0, 0, 0, 0.73);
      @include sm {
        height: 100%;
      }
      .img {
        position: relative;

        i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .__c {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .price {
          color: #6278d8;
          font-weight: bold;
        }
      }

      h1 {
        font-size: 24px;
        line-height: 29px;
        font-weight: 600;
        color: #12141d;
      }
      span {
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        color: #12141d;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #5a5a5a;
      }
    }
  }
}
