$button: #553cac;
$text: #6244c5;
$text-dark: #12141d;
$orange: #f2a654;
$yellow: #f6e84e;
$green: #46c35f;
$teal: #58d8a3;
$cyan: #57c7d4;
$white: #fff;
$gray: #434a54;
$gray-light: #5a5a5a;
$gray-lighter: #e8eff4;
$gray-lightest: #e6e9ed;
$black: #000;
$primary: #b66dff;
$secondary: #d8d8d8;
$success: #1bcfb4;
$info: #198ae3;
$warning: #fed713;
$danger: #fe7c96;
$light: #f8f9fa;
$dark: #3e4b5b;
