@import "/src/styles/variables.scss";
@import "/src/styles/breakpoints.scss";

.skills-container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 10rem;

  .wrapper {
    display: flex;
    gap: 2rem;
    @include lg {
      flex-direction: column;
    }
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h1 {
        font-size: 48px;
        line-height: 52px;
        font-weight: 700;
        font-style: normal;
        @include sm {
          text-align: center;
        }
      }
      p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
        color: $gray-light;
        @include sm {
          text-align: center;
        }
      }
      h3 {
        font-size: 26px;
        line-height: 34px;
        font-weight: 600;
        font-style: normal;
        color: $text-dark;
      }
      //exprience progres
      .exprience-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        .expres-info {
          display: flex;
          flex-direction: column;
          .__a {
            display: flex;
            justify-content: space-between;
          }

          p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            font-style: normal;
            color: $text-dark;
          }
        }
        .progres-line {
          width: 100%;
          height: 10px;
          margin-top: 7px;
          background-color: $secondary;
          border-radius: 50px;
          position: relative;
          span {
            transform-origin: left;
            border-radius: 50px;
            height: 100%;
            position: absolute;
            transition: 1s all;
          }
        }
      }
    }
    .right {
      flex: 1;
      .wrapper {
        display: flex;
        flex-direction: column;
        .__a {
          display: flex;
          gap: 10px;
          border: 2px solid $button;
          border-radius: 12px;
          width: 100%;
          button {
            color: black;
            background: white;
            font-size: 20px;
            line-height: 32px;
            font-weight: 400;
            font-style: normal;
            border: none;
            border-radius: 10px;
            padding: 10px 15px;
            width: 100%;
            cursor: pointer;
            &.active {
              background: $button;
              color: white;
            }
          }
        }
        .__b {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;

          .__c {
            display: flex;
            flex-direction: column;
            .__d {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }
            h1 {
              font-size: 20px;
              line-height: 24px;
              font-weight: 600;
              font-style: normal;
              color: $text-dark;
              padding-bottom: 10px;
              @include sm {
                font-size: 15px;
              }
            }
            .border {
              width: 40px;
              background: $secondary;
              height: 1px;
            }
            .date {
              font-size: 16px;
              line-height: 24px;
              font-weight: 400;
              font-style: normal;
              color: $text;
            }
            .desc {
              font-size: 16px;
              line-height: 19px;
              font-weight: 600;
              font-style: normal;
              color: $text-dark;
              @include sm {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
